---
title: Default Title
---

<!DOCTYPE html>

<html lang="en">
  <head>
    {% comment %}  HTML Setup  {% endcomment %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="./static/favicon.ico" />
    <base href="/" />

     {% comment %} anti-flicker snippet (recommended)  {% endcomment %}
    <style>.async-hide { opacity: 0 !important} </style>
    <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
      h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
      (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
      })(window,document.documentElement,'async-hide','dataLayer',4000,
      {'GTM-TM3N6TJ':true});
    </script>

    {% comment %} <!-- SEO Setup --> {% endcomment %}
    <title>{{ title }}</title>
    <meta
      name="description"
      content="IoT projects to get you going in minutes, not weeks or months."
    />

    {% comment %} Stylesheets {% endcomment %}
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />

    <link rel="stylesheet" href="./static/css/app.css" /> 
  </head>
  <body>
    <div class="page">

        <header>
            <img class="logo" src="./static/images/logo.svg" alt="Fathym" />

            <h2 class="title">IoT Ensemble</h2>

            <div class="flex-filler"></div>

            <nav>
                <a href="/blog">Blog</a>

                <a href="/docs">Docs</a>

                 {% comment %} <a href="/combine">Pricing</a> {% endcomment %}

                <a href="/dashboard" class="accent">Get Started for Free</a>

                <a
                    href="https://github.com/iot-ensemble/lcu-device-data-flow"
                    target="_blank"
                >
                    <img
                        class="icon sm"
                        src="./static/images/third-party/github-mark/GitHub-Mark-Light-64px.png"
                        alt="Fathym"
                    />
                </a>

                <div class="trigger">
                    <span class="material-icons">menu</span>
                </div>
            </nav>

        </header>

        {{ content | safe }}

    </div>
  </body>
</html>