.carousel-wrapper {
    overflow: hidden;
}

.sjs-carousel {
    transform-style: preserve-3d;
}

.sjs-carousel-item {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    margin: auto;
    z-index: 100;
    transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
}

.sjs-carousel-item.initial,
.sjs-carousel-item.active {
    opacity: 1;
    position: relative;
    z-index: 900;
}

.sjs-carousel-item.prev,
.sjs-carousel-item.next {
  z-index: 800;
}

/* Move item down */
.sjs-carousel-item.prev {
  transform: translateY(-100%); 
}

/* Move item up */
.sjs-carousel-item.next {
  transform: translateY(100%);
}

.sjs-carousel-button-prev,
.sjs-carousel-button-next {
  position: absolute;
  left: calc(50% - 1.5rem / 2);
  width: 1.5rem;
  height: 1.5rem;
  background-color: #fff;
  /* transform: translateY(-50%); */
  border-radius: 50%;
  cursor: pointer; 
  z-index: 1001; 
  border: 1px solid black;
}

.sjs-carousel-button-prev {
  top:-35px;
}

.sjs-carousel-button-next {
  bottom:-30px;
}

.sjs-carousel-button-prev::after,
.sjs-carousel-button-next::after {
  content: " ";
  position: absolute;
  width: 5px;
  height: 5px;
  top: 50%;
  left: 50%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(225deg);
}

.sjs-carousel-button-next::after {
  transform: translate(-50%, -50%) rotate(-320deg);
}

