@import url('./../_global.sjs.css');

.icon {
    width: 32px;
    height: 32px;
    font-size: 32px;
}

.icon.xs {
    width: 16px;
    height: 16px;
    font-size: 16px;
}

.icon.sm {
    width: 24px;
    height: 24px;
    font-size: 24px;
}

.icon.md {
    width: 48px;
    height: 48px;
    font-size: 48px;
}

.icon.lg {
    width: 64px;
    height: 64px;
    font-size: 64px;
}

.icon.xl {
    width: 96px;
    height: 96px;
    font-size: 96px;
}

.icon.xxl {
    width: 128px;
    height: 128px;
    font-size: 128px;
}

.thinky-icon{
    width: 108px;
    height: 96px;
}

/* Standard Breakpoints
    320px — 480px: Mobile devices
    481px — 768px: iPads, Tablets
    769px — 1024px: Small screens, laptops
    1025px — 1200px: Desktops, large screens
    1201px and more —  Extra large screens, TV
    */
    @media (max-width: 900px) {
        .thinky-icon {
            width: 98px;
            height: 86px;
        }
    }

    @media (max-width: 768px) {
        .thinky-icon {
            width: 88px;
            height: 76px;
        }
    }

    @media (max-width: 480px) {
        .thinky-icon {
            width: 78px;
            height: 66px;
        }
    }


@media (max-width: 370px) {
    .thinky-icon {
        width: 68px;
        height: 56px;
    }
}


