---
layout: main.liquid
title: IoT Ensemble | Connect. Combine. Code.
---

            <div class="content">
                <section class="sjs-hero contain">
                    <object
                        class="image"
                        type="image/svg+xml"
                        data="./static/images/iot-hero-animated.svg"
                    ></object>

                    <div class="details">
                        <h2 class="connect">Connect.</h2>

                        <h2 class="combine">Combine.</h2>

                        <h2 class="code">Code.</h2>
                    </div>
                </section>

                <section class="call-to-action">
                    <div class="video">
                        <iframe
                            width="100%"
                            height="350"
                            src="https://www.youtube.com/embed/hQaVqLzAmIM"
                            title="YouTube video player"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen
                        ></iframe>
                    </div>

                    <div class="details">
                        <h2>Get Started for Free</h2>

                        <h3>Connect. Combine. Code.</h3>

                        <div class="flex-filler"></div>

                        <a href="/dashboard/iot">Get started for free</a>
                    </div>

                </section>

                

                <section class="partners" id="partner-recipe-builder">
                    <div class="container">
                        <h2>Recipes for Rapid IoT</h2>

                        <div class="recipe-action-container" id="carousel-action">

                            {% include _auto-carousel.liquid %}

                            <div class="actions">
                                <a href="/dashboard/iot">Get Started</a>
                                <a id="learn-more-button" target="_blank">Learn More</a>
                            </div>
                            <script>
                            /**
                            get the ids of the active partners currently displayed in order to display the correct page
                            upon learn more being clicked.
                            */
                            document.getElementById("learn-more-button").onmouseover = function GetActivePartners(){
                                let activeElements = document.getElementsByClassName("active");
                                console.log("active Elements = ", activeElements);
                                let href = "";

                                for(let i=0; i<activeElements.length; i++){
                                    let item = activeElements[i];
                                    if(i === 0){
                                        href+=item.id;
                                        href+="-";
                                    }
                                    else{
                                    href+=item.id;
                                    }
                                }
                                console.log("href = ", href);

                                document.getElementById("learn-more-button").href=href;
                            }
                            </script>
                        </div>
                    </div>
                </section>

                {% comment %} <section class="memo">
                    <div class="container">
                        <div class="paper">
                            <h2>RE: IoT Initiatives Report: CA-483792-ZT</h2>

                            <p>click to declassify</p>

                            <p>Mr. Supè Visera,</p>

                            <p>
                                In response to your questions
                                <span class="redacted">
                                    around how the timelines & budgets exceeded
                                    projections </span
                                >, I have an update.
                                <span class="redacted">With this being</span>
                                the company’s
                                <span class="redacted"
                                    >first attempt at cloud-based</span
                                >
                                IoT, <span class="redacted">really</span> cloud
                                <span class="redacted">in general, we</span> ran
                                into a number of
                                <span class="redacted">unexpected</span> issues.
                                Our Senior Engineer
                                <span class="redacted"
                                    >was pulled over to configure the</span
                                >
                                new cloud infrastructure,
                                <span class="redacted">which</span> has proven
                                <span class="redacted"
                                    >difficult and costly. The team has tried
                                    mightily to cover for his absence but
                                    lack</span
                                >
                                his expertise and experience.
                                <span class="redacted"
                                    >Our IoT projects have stalled</span
                                >.
                            </p>

                            <p>
                                With costs
                                <span class="redacted">all over the place</span
                                >, schedules
                                <span class="redacted">getting missed</span>,
                                opportunities
                                <span class="redacted">being blown</span> and
                                our team
                                <span class="redacted"
                                    >in disarray, I looked outward and</span
                                >
                                I found a solution
                                <span class="redacted"
                                    >that can get us going</span
                                >
                                in the right direction
                                <span class="redacted">– IoT Ensemble</span>.
                            </p>

                            <p>
                                <span class="redacted">I picked</span> our
                                junior newbie
                                <span class="redacted"
                                    >to investigate IoT Ensemble. He</span
                                >
                                was able to set up a device right away. Showed
                                in Standup how he
                                <span class="redacted"
                                    >signed up, checked out the emulated data
                                    capabilities, then</span
                                >
                                enrolled one of our own devices. Got the
                                <span class="redacted"
                                    >connection string and got the telemetry
                                    flowing. We could see the data! He is in the
                                    process of taking that</span
                                >
                                data right over
                                <span class="redacted">to Power BI</span> so we
                                can get you a report<span class="redacted">
                                    before lunch. The best part - there was no
                                    coding involved</span
                                >!
                            </p>

                            <p>
                                With IoT
                                <span class="redacted">Ensemble, </span>we'll be
                                able to connect any of our devices and get our
                                data flowing to any output. We'll
                                <span class="redacted"
                                    >cut months off our timelines and </span
                                >be able to setup alerts, visualizations,
                                machine learning and more
                                <span class="redacted">in hours, not weeks</span
                                >. The competitive advantage for our IoT efforts
                                is a game-changer.
                            </p>

                            <p>Regards,</p>

                            <p>Proda C. Tohner</p>

                            <h3>
                                CLASSIFIED - FOR INTERNAL EYES ONLY – CLASSIFIED
                            </h3>
                        </div>
                    </div>
                </section> {% endcomment %}

                {% comment %} <section class="outgrown">
                    <div class="spread">
                        <h2>Outgrown yet another SaaS solution?</h2>

                        <p>Good news, we've got you covered!</p>

                        <p>
                            IoT Ensemble offers a number of enterprise
                            deployment options.
                        </p>

                        <div>
                            <img
                                src="./static/images/isometric-iot-ensemble-lcu-whitelabel-white.png"
                            />
                        </div>
                    </div>
                </section> {% endcomment %}
{% comment %} 
                <section class="device-to-solution">
                    <div class="spread">
                        <h2>Device-to-Solution</h2>

                        <p>Don't spend your time in the cloud.</p>

                        <p>
                            Turn your device data into insights in minutes not
                            weeks.
                        </p>

                        <div>
                            <img
                                src="./static/images/isometric-iot-ensemble-outputs-white.png"
                            />
                        </div>
                    </div>
                </section> {% endcomment %}

                {% comment %} <section class="partnerverse">
                    <div class="spread">
                        <img src="./static/images/partners-curved.png" />
                    </div>
                </section> {% endcomment %}

                

                
            </div>
        

      <footer>
        <div class="footer-container">
            <div class="footer-main-content">

            <div class="footer-links-container">

                <div class="next-steps-container">

                    <h3>Next Steps</h3>
                    <ul class="links">
                        <li>
                            <a class="link" target="_blank" href="/iot/docs">Getting Started</a>
                        </li>
                        
                        <li>
                            <a class="link" target="_blank" href="/iot/docs/introduction/support">Support</a>
                        </li>
                    </ul>


                </div>

                <div class="community-container">

                    <h3>Community</h3>
                    <ul class="links">
                        <li>
                            <a class="link" target="_blank" href="https://stackoverflow.com/questions/tagged/iot-ensemble">Stack Overflow</a>
                        </li>
                        <li>
                            <a class="link" target="_blank" href="https://discord.com/invite/qX3ftWjqyM">Discord</a>
                        </li>
                        <li>
                            <a class="link" target="_blank" href="https://twitter.com/iotensemble">Twitter</a>
                        </li>
                    </ul>

                </div>

                <div class="community-container">

                    <h3>Legal</h3>
                    <ul class="links">
                        <li>
                            <a class="link" target="_blank" href="https://fathym.com/terms-of-services/">Terms of Service</a>
                        </li>
                        <li>
                            <a class="link" target="_blank" href="https://fathym.com/privacy-policy/">Privacy Policy</a>
                        </li>
                        
                    </ul>

                </div>

            </div>

            {% comment %} <a href="https://www.microsoft.com" target="_blank" class="ms-gold-partner">
                <img  class="ms-gold" src="./static/images/third-party/microsoft/MS-gold-cloud-platform.gif"/>
            </a> {% endcomment %}
        </div>
          <div class="copyright">
            <div class="container">
              Copyright © 2022
              <span class="redacted">Fathym, Inc</span>
            </div>
          </div>
        </div>
      </footer>
