---
pagination:
    data: collections.recipes
    size: 1
    alias: recipe
    addAllPagesToCollections: true
title: Recipes
permalink: "/{{ recipe.data.Name }}/"
layout: main.liquid

---

<div class="actions">
    <a href="/dashboard">Change Recipe</a>
</div>

{% include _fixed-carousel.liquid  %}

<div>Hello new world {{recipe.data.Name}}</div>
